{% extends "Aplicacion/padre.html" %}

{% load static %}

{% block contenidoquecambiar %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="display-4">Editar Ingrediente</h1>
            <p class="lead">Selecciona una Ingrediente y realiza las modificaciones necesarias:</p>

            <form action="" method="POST" class="registration-form">
                {% csrf_token %}

                <div class="form-group">
                    <label for="nombre_Ingrediente">Selecciona un Ingrediente:</label>
                    <select name="nombre_Ingrediente" id="nombre_Ingrediente" class="form-control">
                        <option value="{{ Ingrediente.nombre }}" selected>{{ Ingrediente.nombre }}</option>
                        {% for ingrediente in ingredientes %}
                            <option value="{{ Ingrediente.nombre }}">{{ Ingrediente.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>

            <a href="{% url 'lista_ingredientes' %}" class="btn btn-secondary">Volver a la lista de Ingredientes</a>
        </div>
    </div>
</header>
{% endblock %}
