{% extends "Aplicacion/padre.html" %}
{% load static %}

{% block contenidoquecambiar %}
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1>Lista de Recetas</h1>
            </div>
        </div>
    </header>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>fecha_publicacion</th>
                    <th>Categoria</th>
                    <th>Ingredientes</th>
                    <th>Instrucciones</th>
                    <th>Tiempo Preparacion</th>
                    <th>Porciones</th>
                    <th>Acciones</th>
                    <th>Buscar mas en internet</th>  <!-- Nueva columna -->
                </tr>
            </thead>
            <tbody>
                {% for receta in recetas %}
                    <tr>
                        <td>{{ receta.titulo }}</td>
                        <td>{{ receta.autor }}</td>
                        <td>{{ receta.fecha_publicacion }}</td>
                        <td>{{ receta.categoria }}</td>
                        <td>
                            {% for ingrediente in receta.ingredientes.all %}
                                {{ ingrediente.nombre }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ receta.instrucciones }}</td>
                        <td>{{ receta.tiempo_preparacion }}</td>
                        <td>{{ receta.porciones }}</td>
                        <td>
                            <a href="{% url 'crear_receta' %}" class="btn btn-success">Crear Recetas</a>
                            <a href="{% url 'editar_receta' receta.titulo %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'eliminar_receta' receta.titulo %}" class="btn btn-danger">Eliminar</a>
                        </td>
                        <td>
                            <a href="https://www.google.com/search?q={{ receta.titulo }}+reseñas" class="btn btn-info" target="_blank">Buscar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'Inicio' %}" class="btn btn-secondary">Volver al Inicio</a>
    </div>
{% endblock %}
